@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <img src="~/Images/Image1.webp" alt="Time Management" style="max-width:100%;height:auto;">

    <div>
        <a href="~/Leaves" class="btn btn-primary my-2">Manage Time Off</a>
    </div>
</div>
